apiVersion: batch/v1
kind: Job
metadata:
  name: {{ galera_cluster_name }}-galera-restore-job
  namespace: {{ galera_cluster_namespace }}
spec:
  template:
    spec:
      volumes:
      - name: {{ galera_cluster_name }}-galera-backup-volume
        persistentVolumeClaim:
          claimName: {{ galera_cluster_name }}-galera-backup-volume-claim
      - name: {{ galera_cluster_name }}-galera-seed-volume
        persistentVolumeClaim:
          claimName: {{ galera_cluster_name }}-galera-seed-volume-claim
    
      containers:
      - name: {{ galera_cluster_name }}-galera-backup-agent
        image: {{ galera_cluster_backup_agent_image }}
        imagePullPolicy: Always
        args: ["restore"]
        env:
        - name: SOURCE_BACKUP
          value: "latest"
        - name: SOURCE_INCREMENT
          value: "latest"
        
        volumeMounts:
          - name: {{ galera_cluster_name }}-galera-backup-volume
            mountPath: "/backups"
          - name: {{ galera_cluster_name }}-galera-seed-volume
            mountPath: "/target"
      restartPolicy: Never
  backoffLimit: 4