apiVersion: v1
kind: Service
metadata:
  name: {{ galera_cluster_name }}-galera-external-lb
  namespace: {{ galera_cluster_namespace }}
spec:
  ports:
  - port: 3306
    protocol: TCP
  selector:
    app: {{ galera_cluster_name }}-galera-haproxy
  type: LoadBalancer
