apiVersion: extensions/v1beta1
kind: ReplicaSet
metadata:
  name: {{ galera_cluster_name }}-galera-seed
  namespace: {{ galera_cluster_namespace }}
  labels:
    app: {{ galera_cluster_name }}-galera-seed
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ galera_cluster_name }}-galera-seed
  template:
    metadata:
      labels:
        app: {{ galera_cluster_name }}-galera-seed
    spec:
      containers:
      - name: {{ galera_cluster_name }}-galera-seed
        image: {{ galera_cluster_docker_image }}
        imagePullPolicy: Always
        args: ["seed"]
        env:
        - name: XTRABACKUP_PASSWORD
          value: {{ galera_xtrabackup_password }}
        - name: MYSQL_USER
          value: {{ galera_mysql_user }}
        - name: MYSQL_PASSWORD
          value: {{ galera_mysql_password }}
        - name: MYSQL_ROOT_PASSWORD
          value: {{ galera_mysql_root_password }}
        - name: MYSQL_DATABASE
          value: {{ galera_mysql_database }}
        - name: NODE_ADDRESS
          value: eth0
        livenessProbe:
          tcpSocket:
            port: 3306
          initialDelaySeconds: 60
          periodSeconds: 10        
        ports:
        - containerPort: 3306
        - containerPort: 3309
        - containerPort: 4444
        - containerPort: 4567
        - containerPort: 4567
          protocol: UDP
        - containerPort: 4568
        - containerPort: 8080
        - containerPort: 8081
        volumeMounts:
          - name: {{ galera_cluster_name }}-galera-seed-volume
            mountPath: "/var/lib/mysql"
      volumes:
      - name: {{ galera_cluster_name }}-galera-seed-volume
        persistentVolumeClaim:
          claimName: {{ galera_cluster_name }}-galera-seed-volume-claim
---
apiVersion: v1
kind: Service
metadata:
  name: {{ galera_cluster_name }}-galera-seed
  namespace: {{ galera_cluster_namespace }}
spec:
  ports:
  - port: 3306
    name: mysql
    protocol: TCP
  - port: 3309
    name: socat
    protocol: TCP
  - port: 4444
    name: galera4444
    protocol: TCP
  - port: 4567
    name: galera4567
    protocol: TCP
  - port: 4567
    name: galera4567udp
    protocol: UDP
  - port: 4568
    name: galera4568
    protocol: TCP
  - port: 8080
    name: galera8080
    protocol: TCP
  - port: 8081
    name: galera8081
    protocol: TCP
  selector:
    app: {{ galera_cluster_name }}-galera-seed