kind: Service
apiVersion: v1
metadata:
  name: {{ galera_cluster_name }}-galera-external-access
  namespace: {{ galera_cluster_namespace }}
spec:
  ports:
    - name: mysql
      protocol: TCP
      port: 3306
      targetPort: 3306
      nodePort: {{ galera_cluster_nodeport }}
  selector:
    app: {{ galera_cluster_name }}-galera-haproxy
  type: NodePort
  sessionAffinity: None
  externalTrafficPolicy: Cluster
status:
  loadBalancer: {}
