tmp
ansible/*.retry
!clusters/
clusters/*
!clusters/README.md
!clusters/eg/

docs/images/*.bak 

virtuals
.terraform
generated
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

nohup.out

