[Unit]
Description=Node Exporter
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/node_exporter/node_exporter
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target