execution:
- concurrency: 100
  ramp-up: 10s
  hold-for: 15m
  iterations: 1000
  throughput: 75
  scenario: heavy_load
  
modules:
  jmeter:
    properties:  
      http.connection.stalecheck$Boolean: "true"
      httpclient4.retrycount: 1
  
scenarios:
  heavy_load:
    retrieve-resources: true
    requests:
      - http://{{ drupal_domain }}:{{ drupal_service_port }}
      - http://{{ drupal_domain }}:{{ drupal_service_port }}/?q=node/43
      - http://{{ drupal_domain }}:{{ drupal_service_port }}/?q=node/42
      - http://{{ drupal_domain }}:{{ drupal_service_port }}/?q=node/34
      - http://{{ drupal_domain }}:{{ drupal_service_port }}/?q=node/39
      - http://{{ drupal_domain }}:{{ drupal_service_port }}/?q=node/32
      - http://{{ drupal_domain }}:{{ drupal_service_port }}/?q=node/28
      - http://{{ drupal_domain }}:{{ drupal_service_port }}/?q=node/24
      - http://{{ drupal_domain }}:{{ drupal_service_port }}/?q=node/20
      - http://{{ drupal_domain }}:{{ drupal_service_port }}/?q=node/19
      - http://{{ drupal_domain }}:{{ drupal_service_port }}/?q=node/12

reporting:
- module: console
- module: final-stats
- module: blazemeter

settings:
  check-interval: 10s
  default-executor: jmeter

provisioning: local