apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ drupal_stack_name }}-drupal-files-volume
  namespace: {{ drupal_stack_namespace }}
  labels:
    volume: {{ drupal_stack_name }}-drupal-files-volume
spec:
  capacity:
    storage: {{ drupal_files_volume_size }}
  accessModes:
    - ReadWriteMany
  mountOptions:
    - vers=3,nolock
  nfs:
    server: "{{ drupal_files_nfs_server }}"
    path: "{{ drupal_files_nfs_path }}"
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ drupal_stack_name }}-drupal-files-volume-claim
  namespace: {{ drupal_stack_namespace }}
spec:
  resources:
    requests:
      storage: {{ drupal_files_volume_size }}
  accessModes:
    - ReadWriteMany
  selector:
    matchLabels:
      volume: {{ drupal_stack_name }}-drupal-files-volume
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ drupal_stack_name }}-drupal
  namespace: {{ drupal_stack_namespace }}
  labels:
    app: {{ drupal_stack_name }}-drupal
spec:
  replicas: 1
  minReadySeconds: 10
  strategy:
    rollingUpdate:
      maxSurge: 100
  selector:
    matchLabels:
      app: {{ drupal_stack_name }}-drupal
  template:
    metadata:
      labels:
        app: {{ drupal_stack_name }}-drupal
    spec:
      terminationGracePeriodSeconds: 60
      containers:
      - name: {{ drupal_stack_name }}-drupal
        image: {{ drupal_docker_image }}
        env:
        - name: DRUPALDB_HOST
          value: {{ drupal_db_host }}
        - name: DRUPALDB_USER
          value: {{ drupal_db_user }}
        - name: DRUPALDB_PASSWORD
          value: {{ drupal_db_password }}
        - name: DRUPALDB_DATABASE
          value: {{ drupal_db_name }}
        livenessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 60
          periodSeconds: 10        
        ports:
        - containerPort: 80
        volumeMounts:
          - name: {{ drupal_stack_name }}-drupal-files-volume
            mountPath: "/var/www/html/sites/default/files"
      volumes:
      - name: {{ drupal_stack_name }}-drupal-files-volume
        persistentVolumeClaim:
          claimName: {{ drupal_stack_name }}-drupal-files-volume-claim
---
apiVersion: v1
kind: Service
metadata:
  name: {{ drupal_stack_name }}-drupal-service
  namespace: {{ drupal_stack_namespace }}
spec:
  ports:
  - port: 80
    name: http
    protocol: TCP
    targetPort: 80
  selector:
    app: {{ drupal_stack_name }}-drupal
  type: LoadBalancer
  