kind: Ingress
apiVersion: extensions/v1beta1
metadata:
  name: {{ drupal_stack_name }}-drupal-ingress
  namespace: {{ drupal_stack_namespace }}
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - host: {{ drupal_domain }}
      http:
        paths:
          - path: /
            backend:
              serviceName: {{ drupal_stack_name }}-drupal-service
              servicePort: 80
status:
  loadBalancer: {}