apiVersion: v1
kind: Service
metadata:
  name: {{ drupal_stack_name }}-lb
  namespace: {{ drupal_stack_namespace }}
spec:
  ports:
  - port: {{ drupal_service_port }}
    targetPort: 80
    protocol: TCP
  selector:
    app: {{ drupal_stack_name }}-drupal
  type: LoadBalancer
