- name: install the CNI
  include: cni.yml
  when: "inventory_hostname == groups['k8s_masters'][0]"

- name: display cluster master node status
  shell: kubectl get nodes
  register: final_nodes_out
  when: "inventory_hostname == groups['k8s_masters'][0]"

- debug: msg="{{ final_nodes_out.stdout_lines }}"
  when: "inventory_hostname == groups['k8s_masters'][0]"

