---
---

@import "jekyll-theme-slate";

#project_tagline {
  color: #ccc;
  font-size: 22px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#cb-logo {
  display: inline-block;
  width: 155px;
  height: 155px;
  margin-left: 20px;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-align: center;
  margin-top: -10px;
  margin-left: auto;
  margin-right: 10px;
  background-image: url(../images/cbMascot-150.png);
  background-repeat: no-repeat;
  background-position: 10px 0px;
  cursor: pointer;
}

.asciicast {
  background-color: #111;
  min-height: 690px;
}

#ids-link {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.idstudios-logo {
  width: 60px;
  min-height: 60px;
  min-width: 60px;
  cursor: pointer;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #999;
  border-radius: 10px;
  background: url(../images/logo-2018-icon.png);
}

.project-cell {
  margin-left: 0px;
}

#header_wrap .inner {
  max-width: 75%;
}

#main_content.inner {
  max-width: 75%;
}

#footer_wrap {
  min-height: 80px;
}

#footer_wrap .inner {
  max-width: 75%;
  text-align: center;
}

#footer_wrap .copyright {
  margin-top: 10px;
  font-size: 1.1em;
  color: #999;
  margin-left: 5px;
  margin-right: 15px;
}

footer p,
footer a {
  color: #777;
}

h5 {
  color: #999;
}

code {
  color: #333;
}