#!/bin/bash


ssh -o StrictHostKeyChecking=no {{ remote_user }}@{{ vm_temp_ip.stdout }} "sudo bash -s -- " < tmp/{{ cluster_name }}/{{ inventory_hostname }}_static.sh
ssh -o StrictHostKeyChecking=no {{ remote_user }}@{{ vm_temp_ip.stdout }} sudo chmod 644 /etc/sysconfig/network-scripts/ifcfg-ens33
ssh -o StrictHostKeyChecking=no {{ remote_user }}@{{ vm_temp_ip.stdout }} sudo shutdown -r now


