cat > /etc/sysconfig/network-scripts/ifcfg-ens32 << EOF
DEVICE="ens32"
ONBOOT="yes"
BOOTPROTO=static
IPADDR={{ hostvars[inventory_hostname]['ansible_host'] }}
NETMASK={{ network_mask }}
GATEWAY={{ network_gateway }}
{% if network_dns is defined %}  
DNS1={{ network_dns }}
{% endif %}
{% if network_dns2 is defined %}  
DNS2={{ network_dns2 }}
{% endif %}
{% if network_dns3 is defined %}  
DNS3={{ network_dns3 }}
{% endif %}

EOF

cat > /etc/sysconfig/network << EOF
HOSTNAME={{ node_hostname }}.{{ network_dn }}
{% if network_dns is defined %}  
DNS1={{ network_dns }}
{% endif %}
{% if network_dns2 is defined %}  
DNS2={{ network_dns2 }}
{% endif %}
{% if network_dns3 is defined %}  
DNS3={{ network_dns3 }}
{% endif %}
SEARCH={{ network_dn }}
EOF

cat > /etc/resolv.conf << EOF
{% if network_dns is defined %}  
nameserver {{ network_dns }}
{% endif %}
{% if network_dns2 is defined %}  
nameserver {{ network_dns2 }}
{% endif %}
{% if network_dns3 is defined %}  
nameserver {{ network_dns3 }}
{% endif %}
EOF

