rm /etc/sysconfig/network-scripts/ifcfg-ens*

cat > /etc/sysconfig/network-scripts/ifcfg-ens32 << EOF
DEVICE="ens32"
ONBOOT="yes"
BOOTPROTO=static
IPADDR={{ ansible_host }}
NETMASK={{ network_mask }}
GATEWAY={{ network_gateway }}
DNS1={{ network_dns }}
DNS2={{ network_dns2 }}
DNS3={{ network_dns3 }}
EOF

{% if esxi_data_net is defined %}   

cat > /etc/sysconfig/network-scripts/ifcfg-ens160 << EOF
DEVICE="ens160"
ONBOOT="yes"
BOOTPROTO=static
IPADDR={{ data_ip }}
NETMASK={{ data_network_mask }}
GATEWAY={{ data_network_gateway }}
{% if data_network_dns is defined %}  
DNS1={{ data_network_dns }}
{% endif %}
{% if data_network_dns2 is defined %}  
DNS2={{ data_network_dns2 }}
{% endif %}
{% if data_network_dns3 is defined %}  
DNS3={{ data_network_dns3 }}
{% endif %}
EOF

{% endif %}

cat > /etc/sysconfig/network << EOF
HOSTNAME={{ node_hostname }}.{{ network_dn }}
DNS1={{ network_dns }}
DNS2={{ network_dns2 }}
DNS3={{ network_dns3 }}
SEARCH={{ network_dn }}
EOF

cat > /etc/resolv.conf << EOF
nameserver {{ network_dns }}
nameserver {{ network_dns2 }}
nameserver {{ network_dns3 }}
EOF

