#!/bin/bash
ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{ remote_user }}@{{ vm_temp_ip.stdout }} "sudo bash -s -- " < tmp/{{ cluster_name }}/{{ inventory_hostname }}_static.sh
ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{ remote_user }}@{{ vm_temp_ip.stdout }} sudo chmod 644 /etc/sysconfig/network-scripts/ifcfg-ens*
ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{ remote_user }}@{{ vm_temp_ip.stdout }} sudo shutdown -r now
sleep 2s

