CONNECTION_INFO:
{% for host in groups['docker_swarm_manager'] %}
  {{ hostvars[host].ansible_host }}:
    role: master
    control: {{ contiv_netplugin_control_interface }}
    data: {{ contiv_netplugin_data_interface }}
{% endfor %}
{% for host in groups['docker_swarm_worker'] %}
  {{ hostvars[host].ansible_host }}:
    control: {{ contiv_netplugin_control_interface }}
    data: {{ contiv_netplugin_data_interface }}
{% endfor %}