{% for host in groups['coreos_controllers'] %}
host {{ hostvars[host].inventory_hostname }} {
    hardware ethernet {{ hostvars[host].vm_mac_addr }};
    fixed-address {{ hostvars[host].ansible_host }};
    option host-name "{{ hostvars[host].inventory_hostname }}";
}
{% endfor %}

{% for host in groups['coreos_workers'] %}
host {{ hostvars[host].inventory_hostname }} {
    hardware ethernet {{ hostvars[host].vm_mac_addr }};
    fixed-address {{ hostvars[host].ansible_host }};
    option host-name "{{ hostvars[host].inventory_hostname }}";
}
{% endfor %}
