kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: iscsi-benchmark-target-volume-claim
  annotations:
    volume.beta.kubernetes.io/storage-class: "iscsi-targetd-vg-targetd"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
---
apiVersion: batch/v1
kind: Job
metadata:
  name: iscsi-benchmark-job
spec:
  template:
    spec:
      volumes:
      - name: iscsi-benchmark-target-volume
        persistentVolumeClaim:
          claimName: iscsi-benchmark-target-volume-claim
    
      containers:
      - name: cluster-toolbox
        image: idstudios/cluster-toolbox:latest
        args: ["disk-bench"]
        volumeMounts:
          - name: benchmark-volume
            mountPath: "/target"
      volumes:
      - name: benchmark-volume
        persistentVolumeClaim:
          claimName: iscsi-benchmark-target-volume-claim

      restartPolicy: Never
  backoffLimit: 4
