
tectonic_base_domain = "{{ network_dn }}"
tectonic_cluster_name = "{{ cluster_name }}"
tectonic_container_linux_channel = "stable"
tectonic_container_linux_version = "{{ tectonic_container_linux_version }}"
tectonic_etcd_count = "0"
tectonic_license_path = "clusters/{{ cluster_pkg_folder }}/tectonic-license.txt"
tectonic_master_count = "1"
tectonic_metal_controller_domain = "{{ tectonic_controller_domain }}"
tectonic_metal_controller_domains = [{% for host in groups['coreos_controllers'] %}"{{ hostvars[host].inventory_hostname }}.{{ network_dn }}"{% if not loop.last %},{% endif %}{% endfor %}]
tectonic_metal_controller_macs = [{% for host in groups['coreos_controllers'] %}"{{ hostvars[host].vm_mac_addr.stdout }}"{% if not loop.last %},{% endif %}{% endfor %}]
tectonic_metal_controller_names = [{% for host in groups['coreos_controllers'] %}"{{ hostvars[host].inventory_hostname }}"{% if not loop.last %},{% endif %}{% endfor %}]
tectonic_metal_ingress_domain = "{{ tectonic_ingress_domain }}"
tectonic_metal_matchbox_ca =  "{{ tectonic_matchbox_ca | replace('\n', '\\n') }}"
tectonic_metal_matchbox_client_cert ="{{ tectonic_matchbox_client_cert | replace('\n', '\\n') }}"
tectonic_metal_matchbox_client_key = "{{ tectonic_matchbox_client_key | replace('\n', '\\n') }}"
tectonic_metal_matchbox_http_url = "{{ tectonic_matchbox_http_url }}"
tectonic_metal_matchbox_rpc_endpoint = "{{ tectonic_matchbox_rpc_endpoint }}"
tectonic_metal_worker_domains = [{% for host in groups['coreos_workers'] %}"{{ hostvars[host].inventory_hostname }}.{{ network_dn }}"{% if not loop.last %},{% endif %}{% endfor %}]
tectonic_metal_worker_macs = [{% for host in groups['coreos_workers'] %}"{{ hostvars[host].vm_mac_addr.stdout }}"{% if not loop.last %},{% endif %}{% endfor %}]
tectonic_metal_worker_names = [{% for host in groups['coreos_workers'] %}"{{ hostvars[host].inventory_hostname }}"{% if not loop.last %},{% endif %}{% endfor %}]
tectonic_pull_secret_path = "clusters/{{ cluster_pkg_folder}}/config.json"
tectonic_ssh_authorized_key = "{{ tectonic_ssh_authorized_key }}"
tectonic_tls_validity_period = "26280"
tectonic_vanilla_k8s = false
tectonic_worker_count = "3"
tectonic_cluster_cidr = "{{ k8s_cluster_cidr }}"
