
{% for host in groups['coreos_controllers'] %}
host {{ hostvars[host].inventory_hostname }} {
    hardware ethernet {{ hostvars[host].vm_mac_addr }};
    fixed-address {{ hostvars[host].ansible_host }};
    option host-name "{{ hostvars[host].inventory_hostname }}";
    {% if network_dns2 is defined %}  
    option domain-name-servers {{ network_dns }},{{ network_dns2 }},8.8.8.8;
    {% else %}
    option domain-name-servers {{ network_dns }},8.8.8.8;
    {% endif %}    
    option tftp-server-name "{{ provisioner_server_dn }}";
    next-server {{ ansible_host }};
    filename "pxelinux.0";
}
{% endfor %}

{% for host in groups['coreos_workers'] %}
host {{ hostvars[host].inventory_hostname }} {
    hardware ethernet {{ hostvars[host].vm_mac_addr }};
    fixed-address {{ hostvars[host].ansible_host }};
    option host-name "{{ hostvars[host].inventory_hostname }}";
    {% if network_dns2 is defined %}  
    option domain-name-servers {{ network_dns }},{{ network_dns2 }},8.8.8.8;
    {% else %}
    option domain-name-servers {{ network_dns }},8.8.8.8;
    {% endif %}    
    option tftp-server-name "{{ provisioner_server_dn }}";
    next-server {{ ansible_host }};
    filename "pxelinux.0";
}
{% endfor %}
