[Match]
Name=ens*

[Network]
Address={{ hostvars[inventory_hostname]['ansible_host'] }}/{{ network_cidr }}
Gateway={{ network_gateway }}
DNS={{ network_dns }}
{% if network_dns2 is defined %}  
DNS={{ network_dns2 }}
{% endif %}
