# dracut modules to add to the default
add_dracutmodules+="dm lvm raid1 dmraid mdraid"

# additional kernel modules to the default
add_drivers+="dm_mod dm_mirror dm_log dm_region_hash "
# install local /etc/mdadm.conf
mdadmconf="yes"

# install local /etc/lvm/lvm.conf
lvmconf="yes"