#! /bin/bash

#
# Stop all the VMS
#
{% for node in groups["k8s_masters"] %}

qm stop {{ vmid }}
qm destroy {{ vmid }}

{% endfor %}

{% for node in groups["k8s_workers"] %}

qm stop {{ vmidc }}
qm destroy {{ vmid }}

{% endfor %}

#
# Deploy the new VMS
#

{% for node in groups["k8s_masters"] %}

qm stop {{ vmid }}
qm destroy {{ vmid }}
qm clone {{ template_vmid }} {{ vmid }}
qm set {{ vmid }} --name {{ hostvars[node].inventory_hostname }}
qm set {{ vmid }} --ipconfig0 'ip={{ hostvars[node].ansible_host }}/24,gw={{ network_gateway }}'
qm set {{ vmid }} --cores {{ hostvars[node].numvcpus }}
qm set {{ vmid }} --memory {{ hostvars[node].memsize }}
qm set {{ vmid }} --nameserver '8.8.8.8 8.8.4.4'
qm start {{ vmid }}
qm wait {{ vmid }}
qm start {{ vmid }}

{% endfor %}

{% for node in groups["k8s_workers"] %}

qm stop {{ vmid }}
qm destroy {{ vmid }}
qm clone {{ template_vmid }} {{ vmid }}
qm set {{ vmid }} --name {{ hostvars[node].inventory_hostname }}
qm set {{ vmid }} --ipconfig0 'ip={{ hostvars[node].ansible_host }}/24,gw={{ network_gateway }}'
qm set {{ vmid }} --cores {{ hostvars[node].numvcpus }}
qm set {{ vmid }} --memory {{ hostvars[node].memsize }}
qm set {{ vmid }} --nameserver '8.8.8.8 8.8.4.4'
qm start {{ vmid }}
qm wait {{ vmid }}
qm start {{ vmid }}

{% endfor %}

qm list 
