{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "metrics-addr" : "0.0.0.0:9323",
  "disable-legacy-registry": true,
  "userland-proxy": false,
  "log-driver": "gelf",
  "log-opts": {
    "gelf-address": "udp://127.0.0.1:12201",
    "labels": "container_group"
  }
}