{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "metrics-addr" : "0.0.0.0:9323",
{% if docker_daemon_dns is defined -%}
    "dns" : [{{ docker_daemon_dns }}],
{%- endif %}    
  "storage-driver": "overlay2",
  "storage-opts": [
    "overlay2.override_kernel_check=true"
  ]
}
