{
  "metrics-addr" : "0.0.0.0:9323",

{% if network_dns is defined -%}
  {% if network_dns is defined and network_dns2 is undefined -%}
  "dns" : ["{{ network_dns }}"],
  {% else -%}
  "dns" : ["{{ network_dns }}", "{{ network_dns2 }}"],
  {%- endif %}  
{%- endif %}  
  
  "experimental" : true,
  "storage-driver": "overlay2",
  "storage-opts": [
    "overlay2.override_kernel_check=true"
  ]
}
