apiVersion: kubeadm.k8s.io/v1beta1
kind: InitConfiguration
bootstrapTokens:
- token: "{{ k8s_cluster_token }}"
  description: "kubeadm bootstrap token"
  ttl: "24h"
  usages:
  - signing
  - authentication
  groups:
  - system:bootstrappers:kubeadm:default-node-token
nodeRegistration:
  criSocket: "/var/run/dockershim.sock"
  taints:
  - key: "kubeadmNode"
    value: "master"
    effect: "NoSchedule"
  kubeletExtraArgs:
    cgroupDriver: "cgroupfs"
localAPIEndpoint:
  advertiseAddress: "{{ k8s_advertise_addr }}"
  bindPort: 6443
---
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
clusterName: "{{ cluster_name }}"
etcd:
  local:
    imageRepository: "k8s.gcr.io"
    imageTag: "3.2.24"
    dataDir: "/var/lib/etcd"    
    extraArgs:
      listen-client-urls: {% for host in groups['k8s_masters'] %}"http://{{ hostvars[host].node_fqdn }}:2379"{% if not loop.last %},{% endif %}{% endfor %} 
    serverCertSANs:
    - "{{ k8s_advertise_addr }}"  
  {% for host in groups['k8s_masters'] %}
  - "{{ hostvars[host].node_fqdn }}"
  {% endfor %}
  peerCertSANs:
  {% for host in groups['k8s_masters'] %}
  - "{{ hostvars[host].ansible_host }}"
  {% endfor %}
kubernetesVersion: "v1.14.0"
apiServer:
  extraArgs:
    authorization-mode: "Node,RBAC"
  certSANs:
{% for host in groups['k8s_masters'] %}
- "{{ hostvars[host].ansible_host }}"
{% endfor %}
  - "127.0.0.1"
{% for host in groups['k8s_masters'] %}
- "{{ hostvars[host].node_fqdn }}"
{% endfor %}
  - "10.96.0.1"
  - "{{ k8s_admin_url }}"
  timeoutForControlPlane: 10m0s
imageRepository: "k8s.gcr.io"
useHyperKubeImage: false
networking:
  dnsDomain: cluster.local
  podSubnet: {{ k8s_cluster_cidr }}
scheduler:
  extraArgs:
    address: "{{ k8s_advertise_addr }}"
certificatesDir: "/etc/kubernetes/pki"
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
# kube-proxy specific options here
bindAddress: 0.0.0.0
clientConnection:
  acceptContentTypes: ""
  burst: 10
  contentType: application/vnd.kubernetes.protobuf
  kubeconfig: /var/lib/kube-proxy/kubeconfig.conf
  qps: 5
clusterCIDR: {{ k8s_cluster_cidr }}
configSyncPeriod: 15m0s
conntrack:
  max: null
  maxPerCore: 32768
  min: 131072
  tcpCloseWaitTimeout: 1h0m0s
  tcpEstablishedTimeout: 24h0m0s
enableProfiling: false
healthzBindAddress: 0.0.0.0:10256
iptables:
  masqueradeAll: false
  masqueradeBit: 14
  minSyncPeriod: 0s
  syncPeriod: 30s
ipvs:
  excludeCIDRs: null
  minSyncPeriod: 0s
  scheduler: ""
  syncPeriod: 30s
metricsBindAddress: 127.0.0.1:10249
resourceContainer: /kube-proxy
udpIdleTimeout: 250ms
