# [member]
ETCD_NAME={{ hostvars[inventory_hostname]['etcd_name'] }}
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_PEER_URLS="http://{{ hostvars[inventory_hostname]['ansible_host'] }}:2380"
ETCD_LISTEN_CLIENT_URLS="http://{{ hostvars[inventory_hostname]['ansible_host'] }}:2379,http://127.0.0.1:2379"
# [cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ hostvars[inventory_hostname]['ansible_host']}}:2380"
ETCD_INITIAL_CLUSTER="{% for host in groups['k8s_masters'] %}{{ hostvars[host]['etcd_name'] }}=http://{{ hostvars[host].ansible_host }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="KUBE-ETCD-CLUSTER"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ hostvars[inventory_hostname]['ansible_host'] }}:2379"
