#!/bin/bash 

# this here for experimental windows support
if [ -f /mnt/vmware-tools/ovftool.exe ]; then
  echo "Using ovftool.exe alias for Windows!"
  alias ovftool=/mnt/vmware-tools/ovftool.exe
fi

{% for host in groups['vmware_vms'] %}
  {% if hostvars[host].vcenter_server is defined  %}

  ovftool --overwrite --powerOffTarget --memorySize:vm={{ hostvars[host].memsize }} \
        --numberOfCpus:vm={{ hostvars[host].numvcpus }} \
        --name="{{ hostvars[host].inventory_hostname }}" \
        --diskMode=thin \
        --powerOn \
        --disableVerification \
        --noSSLVerify \
        --datastore="{{ hostvars[host].esxi_ds }}" \
        --network="{{ hostvars[host].esxi_net }}" \
        {{ ova_template_path }} \
        vi://{{ hostvars[host].vcenter_user }}:$1@{{ hostvars[host].vcenter_server }}/?ip={{ hostvars[host].esxi_host }}
  
  {% else %}

  ovftool --overwrite --powerOffTarget --memorySize:vm={{ hostvars[host].memsize }} \
        --numberOfCpus:vm={{ hostvars[host].numvcpus }} \
        --name="{{ hostvars[host].inventory_hostname }}" \
        --diskMode=thin \
        --powerOn \
        --disableVerification \
        --noSSLVerify \
        --datastore="{{ hostvars[host].esxi_ds }}" \
        --network="{{ hostvars[host].esxi_net }}" \
        {{ ova_template_path }} \
        vi://{{ hostvars[host].esxi_user }}:$1@{{ hostvars[host].esxi_host }}
        
  {% endif %}
  if [ $? -ne 0 ]; then
    echo "FAIL: ovftool deployment failed!"
    exit 1
  fi
        
{% endfor %}
