#!/bin/bash

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

bash $DIR/docker-env info

{% if docker_swarm_mgmt_gw is defined %}  
URL=https://{{ docker_swarm_mgmt_gw }}:9000
{% else %}
URL=http://{{ inventory_hostname }}:9000
{% endif %}

PLATFORM=`uname -ra`
if [[ $PLATFORM == *"Darwin"* ]]; then 
  open ${URL}
elif [[ $PLATFORM == *"Microsoft"* ]]; then 
  cmd.exe /c 'start chrome http://{{ inventory_hostname }}:9000'
else
  `google-chrome "${URL}" >/dev/null 2>&1`
fi 
