#!/bin/bash

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

echo
kubectl --kubeconfig $DIR/kubeconfig get pods --all-namespaces
echo
sleep 2s
kubectl --kubeconfig $DIR/kubeconfig get nodes
echo
