#!/bin/bash

#DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
  
#bash $DIR/docker-env info
  
{% if docker_swarm_mgmt_gw is defined %}  
open https://{{ docker_swarm_mgmt_gw }}
{% else %}
open http://{{ inventory_hostname }}
{% endif %}
