rm /etc/netplan/01-netcfg*

cat > /etc/netplan/01-netcfg.yaml << EOF
network:
  version: 2
  renderer: networkd 
  ethernets:
    ens32:
      dchp4: no
      dchp6: no
      addresses: [{{ hostvars[inventory_hostname]['ansible_host'] }}{{ network_cidr }}, ]
      gateway: {{ network_gateway }}
      nameservers:
{% if network_dns is defined and network_dns2 is defined %}  
        addresses: [{{ network_dns }}, {{ network_dns2 }}]      
{{% else %}
        addresses: [{{ network_dns }}, ]      
{% endif %}

EOF

cat > /etc/resolv.conf << EOF
nameserver {{ network_dns }}
{% if network_dns2 is defined %}  
nameserver {{ network_dns2 }}
{% endif %}
{% if network_dns3 is defined %}  
nameserver {{ network_dns3 }}
{% endif %}
options edns0
search {{ network_dn }}
EOF

