#!/bin/bash
ssh -o LogLevel=Error -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{ remote_user }}@{{ vm_temp_ip.stdout }} "sudo bash -s -- " < tmp/{{ cluster_pkg_folder }}/{{ inventory_hostname }}_static.sh
ssh -o LogLevel=Error -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{ remote_user }}@{{ vm_temp_ip.stdout }} "sudo chmod 644 /etc/netplan/01-netcfg.yaml"
ssh -o LogLevel=Error -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{ remote_user }}@{{ vm_temp_ip.stdout }} "sudo shutdown -r now"
sleep 2s

