rm /etc/netplan/01-netcfg*

cat > /etc/netplan/01-netcfg.yaml << EOF
network:
  version: 2
  renderer: networkd 
  ethernets:
    ens32:
      dhcp4: no
      dhcp6: no
      addresses: [{{ hostvars[inventory_hostname]['ansible_host'] }}{{ network_cidr }}, ]
      gateway4: {{ network_gateway }}
      nameservers:
        addresses: [{{ network_dns }}{% if network_dns2 is defined %},{{ network_dns2 }}{% endif %}]

EOF

cat > /etc/resolv.conf << EOF
nameserver {{ network_dns }}
{% if network_dns2 is defined %}  
nameserver {{ network_dns2 }}
{% endif %}
{% if network_dns3 is defined %}  
nameserver {{ network_dns3 }}
{% endif %}
options edns0
search {{ network_dn }}
EOF

