[Global]
# properties in this section will be used for all specified vCenters unless overriden in VirtualCenter section.

user = "{{ vsphere_storage_user }}"
password = "{{ vsphere_storage_password }}"        
port = "443" #Optional
insecure-flag = "1" #set to 1 if the vCenter uses a self-signed cert
datacenters = "{{ vsphere_storage_datacenter }}"
        
[Workspace]
# Specify properties which will be used for various vSphere Cloud Provider functionality.
# e.g. Dynamic provisioing, Storage Profile Based Volume provisioning etc.
        server = "{{ vsphere_storage_vcenter }}"
        datacenter = "{{ vsphere_storage_datacenter }}"
        default-datastore = "{{ vsphere_storage_datastore }}" #Datastore to use for provisioning volumes using storage classes/dynamic provisioning

[Disk]
        scsicontrollertype = pvscsi

[Network]
        public-network = "{{ network_dn }}"