apiVersion: extensions/v1beta1
kind: ReplicaSet
metadata:
  name: {{ galera_cluster_name }}-galera-node1
  namespace: {{ galera_cluster_namespace }}
  labels:
    app: {{ galera_cluster_name }}-galera-node1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ galera_cluster_name }}-galera-node1
  template:
    metadata:
      labels:
        app: {{ galera_cluster_name }}-galera-node1
    spec:
      containers:
      - name: {{ galera_cluster_name }}-galera-node1
        image: {{ galera_cluster_docker_image }}
        imagePullPolicy: Always
        args: ["node", "{{ galera_cluster_name }}-galera-seed,{{ galera_cluster_name }}-galera-node2,{{ galera_cluster_name }}-galera-node3"]
        env:
        - name: XTRABACKUP_PASSWORD
          value: "{{ galera_xtrabackup_password }}"
        - name: NODE_ADDRESS
          value: "eth0"
        - name: HEALTHY_WHILE_BOOTING
          value: "1"
        livenessProbe:
          tcpSocket:
            port: 3306
          initialDelaySeconds: 120
          periodSeconds: 10        
        ports:
        - containerPort: 3306
        - containerPort: 3309
        - containerPort: 4444
        - containerPort: 4567
        - containerPort: 4567
          protocol: UDP
        - containerPort: 4568
        - containerPort: 8080
        - containerPort: 8081
        volumeMounts:
          - name: {{ galera_cluster_name }}-galera-node1-volume
            mountPath: "/var/lib/mysql"
      volumes:
      - name: {{ galera_cluster_name }}-galera-node1-volume
        persistentVolumeClaim:
          claimName: {{ galera_cluster_name }}-galera-node1-volume-claim
---
apiVersion: extensions/v1beta1
kind: ReplicaSet
metadata:
  name: {{ galera_cluster_name }}-galera-node2
  namespace: {{ galera_cluster_namespace }}
  labels:
    app: {{ galera_cluster_name }}-galera-node2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ galera_cluster_name }}-galera-node2
  template:
    metadata:
      labels:
        app: {{ galera_cluster_name }}-galera-node2
    spec:
      containers:
      - name: {{ galera_cluster_name }}-galera-node2
        image: {{ galera_cluster_docker_image }}
        imagePullPolicy: Always
        args: ["node", "{{ galera_cluster_name }}-galera-seed,{{ galera_cluster_name }}-galera-node1,{{ galera_cluster_name }}-galera-node3"]
        env:
        - name: XTRABACKUP_PASSWORD
          value: "{{ galera_xtrabackup_password }}"
        - name: NODE_ADDRESS
          value: "eth0"
        - name: HEALTHY_WHILE_BOOTING
          value: "1"
        livenessProbe:
          tcpSocket:
            port: 3306
          initialDelaySeconds: 60
          periodSeconds: 10        
        ports:
        - containerPort: 3306
        - containerPort: 3309
        - containerPort: 4444
        - containerPort: 4567
        - containerPort: 4567
          protocol: UDP
        - containerPort: 4568
        - containerPort: 8080
        - containerPort: 8081
        volumeMounts:
          - name: {{ galera_cluster_name }}-galera-node2-volume
            mountPath: "/var/lib/mysql"
      volumes:
      - name: {{ galera_cluster_name }}-galera-node2-volume
        persistentVolumeClaim:
          claimName: {{ galera_cluster_name }}-galera-node2-volume-claim
---
apiVersion: extensions/v1beta1
kind: ReplicaSet
metadata:
  name: {{ galera_cluster_name }}-galera-node3
  namespace: {{ galera_cluster_namespace }}
  labels:
    app: {{ galera_cluster_name }}-galera-node3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ galera_cluster_name }}-galera-node3
  template:
    metadata:
      labels:
        app: {{ galera_cluster_name }}-galera-node3
    spec:
      volumes:
      - name: {{ galera_cluster_name }}-galera-node3-volume
        persistentVolumeClaim:
          claimName: {{ galera_cluster_name }}-galera-node3-volume-claim
      - name: {{ galera_cluster_name }}-galera-backup-volume
        persistentVolumeClaim:
          claimName: {{ galera_cluster_name }}-galera-backup-volume-claim
      - name: mysqld-pid
        emptyDir: {}

      containers:
      - name: {{ galera_cluster_name }}-galera-node3
        image: {{ galera_cluster_docker_image }}
        imagePullPolicy: Always
        args: ["node", "{{ galera_cluster_name }}-galera-seed,{{ galera_cluster_name }}-galera-node1,{{ galera_cluster_name }}-galera-node2"]
        env:
        - name: XTRABACKUP_PASSWORD
          value: "{{ galera_xtrabackup_password }}"
        - name: NODE_ADDRESS
          value: "eth0"
        - name: HEALTHY_WHILE_BOOTING
          value: "1"
        livenessProbe:
          tcpSocket:
            port: 3306
          initialDelaySeconds: 120
          periodSeconds: 10        
        ports:
        - containerPort: 3306
        - containerPort: 3309
        - containerPort: 4444
        - containerPort: 4567
        - containerPort: 4567
          protocol: UDP
        - containerPort: 4568
        - containerPort: 8080
        - containerPort: 8081
        volumeMounts:
          - name: {{ galera_cluster_name }}-galera-node3-volume
            mountPath: "/var/lib/mysql"
          - name: mysqld-pid
            mountPath: "/var/run/mysqld"

      - name: {{ galera_cluster_name }}-galera-backup-agent
        image: {{ galera_cluster_backup_agent_image }}
        imagePullPolicy: Always
        args: ["agent"]
        env:
        - name: PERCONA_BACKUP_HOST
          value: {{ galera_cluster_name }}-galera-node3
        - name: PERCONA_BACKUP_USER
          value: "{{ galera_cluster_backup_user }}"
        - name: PERCONA_BACKUP_PASSWORD
          value: "{{ galera_xtrabackup_password }}"
        - name: RETENTION_PERIOD_DAYS
          value: "{{ galera_cluster_backup_retention_days }}"
        - name: INC_BACKUP_INTERVAL
          value: "{{ galera_cluster_backup_incremental_interval }}"
        
        volumeMounts:
          - name: {{ galera_cluster_name }}-galera-node3-volume
            mountPath: "/var/lib/mysql"
          - name: {{ galera_cluster_name }}-galera-backup-volume
            mountPath: "/target"
          - name: mysqld-pid
            mountPath: "/var/run/mysqld"
---
apiVersion: v1
kind: Service
metadata:
  name: {{ galera_cluster_name }}-galera-node1
  namespace: {{ galera_cluster_namespace }}
spec:
  ports:
  - port: 3306
    name: mysql
    protocol: TCP
  - port: 3309
    name: socat
    protocol: TCP
  - port: 4444
    name: galera4444
    protocol: TCP
  - port: 4567
    name: galera4567
    protocol: TCP
  - port: 4567
    name: galera4567udp
    protocol: UDP
  - port: 4568
    name: galera4568
    protocol: TCP
  - port: 8080
    name: galera8080
    protocol: TCP
  - port: 8081
    name: galera8081
    protocol: TCP
  selector:
    app: {{ galera_cluster_name }}-galera-node1
---
apiVersion: v1
kind: Service
metadata:
  name: {{ galera_cluster_name }}-galera-node2
  namespace: {{ galera_cluster_namespace }}
spec:
  ports:
  - port: 3306
    name: mysql
    protocol: TCP
  - port: 3309
    name: socat
    protocol: TCP
  - port: 4444
    name: galera4444
    protocol: TCP
  - port: 4567
    name: galera4567
    protocol: TCP
  - port: 4567
    name: galera4567udp
    protocol: UDP
  - port: 4568
    name: galera4568
    protocol: TCP
  - port: 8080
    name: galera8080
    protocol: TCP
  - port: 8081
    name: galera8081
    protocol: TCP
  selector:
    app: {{ galera_cluster_name }}-galera-node2
---
apiVersion: v1
kind: Service
metadata:
  name: {{ galera_cluster_name }}-galera-node3
  namespace: {{ galera_cluster_namespace }}
spec:
  ports:
  - port: 3306
    name: mysql
    protocol: TCP
  - port: 3309
    name: socat
    protocol: TCP
  - port: 4444
    name: galera4444
    protocol: TCP
  - port: 4567
    name: galera4567
    protocol: TCP
  - port: 4567
    name: galera4567udp
    protocol: UDP
  - port: 4568
    name: galera4568
    protocol: TCP
  - port: 8080
    name: galera8080
    protocol: TCP
  - port: 8081
    name: galera8081
    protocol: TCP
  selector:
    app: {{ galera_cluster_name }}-galera-node3
