apiVersion: extensions/v1beta1
kind: ReplicaSet
metadata:
  name: {{ galera_cluster_name }}-galera-haproxy
  namespace: {{ galera_cluster_namespace }}
  labels:
    app: {{ galera_cluster_name }}-galera-haproxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ galera_cluster_name }}-galera-haproxy
  template:
    metadata:
      labels:
        app: {{ galera_cluster_name }}-galera-haproxy
    spec:
      containers:
      - name: {{ galera_cluster_name }}-galera-haproxy
        image: {{ galera_cluster_haproxy_docker_image }}
        imagePullPolicy: Always
        env:
        - name: HAPROXY_GALERA_NODE_COUNT
          value: "3"
        - name: HAPROXY_GALERA_NODE_1
          value: {{ galera_cluster_name }}-galera-node1
        - name: HAPROXY_GALERA_NODE_2
          value: {{ galera_cluster_name }}-galera-node2
        - name: HAPROXY_GALERA_NODE_3
          value: {{ galera_cluster_name }}-galera-node3
        livenessProbe:
          tcpSocket:
            port: 3306
        ports:
        - containerPort: 3306
---
apiVersion: v1
kind: Service
metadata:
  name: {{ galera_cluster_name }}-galera-haproxy
  namespace: {{ galera_cluster_namespace }}
spec:
  ports:
  - port: 3306
    protocol: TCP
  selector:
    app: {{ galera_cluster_name }}-galera-haproxy
