---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ galera_cluster_name }}-galera-seed-volume-claim
  namespace: {{ galera_cluster_namespace }}
  annotations:
    volume.beta.kubernetes.io/storage-class: "{{ galera_iscsi_storage_class }}"  
spec:
  resources:
    requests:
      storage: {{ galera_cluster_volume_size }}
  accessModes:
    - ReadWriteOnce
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ galera_cluster_name }}-galera-node1-volume-claim
  namespace: {{ galera_cluster_namespace }}
  annotations:
    volume.beta.kubernetes.io/storage-class: "{{ galera_iscsi_storage_class }}"  
spec:
  resources:
    requests:
      storage: {{ galera_cluster_volume_size }}
  accessModes:
    - ReadWriteOnce
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ galera_cluster_name }}-galera-node2-volume-claim
  namespace: {{ galera_cluster_namespace }}
  annotations:
    volume.beta.kubernetes.io/storage-class: "{{ galera_iscsi_storage_class }}"  
spec:
  resources:
    requests:
      storage: {{ galera_cluster_volume_size }}
  accessModes:
    - ReadWriteOnce
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ galera_cluster_name }}-galera-node3-volume-claim
  namespace: {{ galera_cluster_namespace }}
  annotations:
    volume.beta.kubernetes.io/storage-class: "{{ galera_iscsi_storage_class }}"  
spec:
  resources:
    requests:
      storage: {{ galera_cluster_volume_size }}
  accessModes:
    - ReadWriteOnce

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ galera_cluster_name }}-galera-node4-volume-claim
  namespace: {{ galera_cluster_namespace }}
  annotations:
    volume.beta.kubernetes.io/storage-class: "{{ galera_iscsi_storage_class }}"  
spec:
  resources:
    requests:
      storage: {{ galera_cluster_volume_size }}
  accessModes:
    - ReadWriteOnce
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ galera_cluster_name }}-galera-node5-volume-claim
  namespace: {{ galera_cluster_namespace }}
  annotations:
    volume.beta.kubernetes.io/storage-class: "{{ galera_iscsi_storage_class }}"  
spec:
  resources:
    requests:
      storage: {{ galera_cluster_volume_size }}
  accessModes:
    - ReadWriteOnce
