apiVersion: batch/v1
kind: Job
metadata:
  name: {{ galera_cluster_name }}-galera-purge-seed-volume-job
  namespace: {{ galera_cluster_namespace }}
spec:
  template:
    spec:
      volumes:
      - name: {{ galera_cluster_name }}-galera-seed-volume
        persistentVolumeClaim:
          claimName: {{ galera_cluster_name }}-galera-seed-volume-claim
    
      containers:
      - name: {{ galera_cluster_name }}-seed-purge-agent
        image: busybox
        command: ["/bin/sh"]
        args: ["-c", "cd /target && ls -al && rm -rf * && echo 'purge complete!' && ls -al"]
        
        volumeMounts:
          - name: {{ galera_cluster_name }}-galera-seed-volume
            mountPath: "/target"

      restartPolicy: Never
  backoffLimit: 4
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ galera_cluster_name }}-galera-purge-node1-volume-job
  namespace: {{ galera_cluster_namespace }}
spec:
  template:
    spec:
      volumes:
      - name: {{ galera_cluster_name }}-galera-node1-volume
        persistentVolumeClaim:
          claimName: {{ galera_cluster_name }}-galera-node1-volume-claim
    
      containers:
      - name: {{ galera_cluster_name }}-node1-purge-agent
        image: busybox
        command: ["/bin/sh"]
        args: ["-c", "cd /target && ls -al && rm -rf * && echo 'purge complete!' && ls -al"]
        
        volumeMounts:
          - name: {{ galera_cluster_name }}-galera-node1-volume
            mountPath: "/target"

      restartPolicy: Never
  backoffLimit: 4
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ galera_cluster_name }}-galera-purge-node2-volume-job
  namespace: {{ galera_cluster_namespace }}
spec:
  template:
    spec:
      volumes:
      - name: {{ galera_cluster_name }}-galera-node2-volume
        persistentVolumeClaim:
          claimName: {{ galera_cluster_name }}-galera-node2-volume-claim
    
      containers:
      - name: {{ galera_cluster_name }}-node2-purge-agent
        image: busybox
        command: ["/bin/sh"]
        args: ["-c", "cd /target && ls -al && rm -rf * && echo 'purge complete!' && ls -al"]
        
        volumeMounts:
          - name: {{ galera_cluster_name }}-galera-node2-volume
            mountPath: "/target"

      restartPolicy: Never
  backoffLimit: 4
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ galera_cluster_name }}-galera-purge-node3-volume-job
  namespace: {{ galera_cluster_namespace }}
spec:
  template:
    spec:
      volumes:
      - name: {{ galera_cluster_name }}-galera-node3-volume
        persistentVolumeClaim:
          claimName: {{ galera_cluster_name }}-galera-node3-volume-claim
    
      containers:
      - name: {{ galera_cluster_name }}-node3-purge-agent
        image: busybox
        command: ["/bin/sh"]
        args: ["-c", "cd /target && ls -al && rm -rf * && echo 'purge complete!' && ls -al"]
        
        volumeMounts:
          - name: {{ galera_cluster_name }}-galera-node3-volume
            mountPath: "/target"

      restartPolicy: Never
  backoffLimit: 4  
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ galera_cluster_name }}-galera-purge-node4-volume-job
  namespace: {{ galera_cluster_namespace }}
spec:
  template:
    spec:
      volumes:
      - name: {{ galera_cluster_name }}-galera-node4-volume
        persistentVolumeClaim:
          claimName: {{ galera_cluster_name }}-galera-node4-volume-claim
    
      containers:
      - name: {{ galera_cluster_name }}-node4-purge-agent
        image: busybox
        command: ["/bin/sh"]
        args: ["-c", "cd /target && ls -al && rm -rf * && echo 'purge complete!' && ls -al"]
        
        volumeMounts:
          - name: {{ galera_cluster_name }}-galera-node4-volume
            mountPath: "/target"

      restartPolicy: Never
  backoffLimit: 4  
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ galera_cluster_name }}-galera-purge-node5-volume-job
  namespace: {{ galera_cluster_namespace }}
spec:
  template:
    spec:
      volumes:
      - name: {{ galera_cluster_name }}-galera-node5-volume
        persistentVolumeClaim:
          claimName: {{ galera_cluster_name }}-galera-node5-volume-claim
    
      containers:
      - name: {{ galera_cluster_name }}-node5-purge-agent
        image: busybox
        command: ["/bin/sh"]
        args: ["-c", "cd /target && ls -al && rm -rf * && echo 'purge complete!' && ls -al"]
        
        volumeMounts:
          - name: {{ galera_cluster_name }}-galera-node5-volume
            mountPath: "/target"

      restartPolicy: Never
  backoffLimit: 4    