<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>swarm-worker</short>
  <description>Ports for the Docker Swarm Worker.</description>
    
  <!--  Port for remote connections to Docker -->
  <port protocol="tcp" port="2376"/>
  
  <!--  Port for communication between swarm nodes -->
  <port protocol="tcp" port="2377"/>
  <port protocol="tcp" port="2378"/>

  <!--  Port for overlay networking -->
  <port protocol="udp" port="4789"/>

  <!--  Port for gossip-based clustering -->
  <port protocol="udp" port="7946"/>
  <port protocol="tcp" port="7946"/>

  <!--  Port for a TLS proxy that provides access to UCP, Docker Engine, and Docker Swarm -->
  <port protocol="tcp" port="12376"/>

  <!-- Node Exporter Port -->
  <port protocol="tcp" port="9100"/>

  <!-- cAdvisor Port -->
  <port protocol="tcp" port="9101"/>

  <!-- Docker Metrics Port -->
  <port protocol="tcp" port="9323"/>

</service>